<div class="title-box section">
  <div>Trivia at the Library</div>
</div>
<div class="quiz-box section">
  <div class="quiz-form">
    <div class="quiz-form-top">
      <form>
        Enter a keyword: <input type="text" ng-model="keyword">
        <button ng-click="getQAndA()">Get question</button>
      </form>

      <div ng-show="qAndA">
        Category: &nbsp; <span ng-bind-html="qAndA.catName | safehtml"></span>
      </div>

      <div ng-show="qAndA">
        Clue: &nbsp; <span ng-bind-html="qAndA.text | safehtml"></span>
      </div>

      <form>
        Your answer: <input type="text" ng-model='proposedAnswer'>
        <button ng-click="getAnswer()">Check answer</button>
      </form>

      <div ng-show="showAnswer">
        The answer:  <span ng-bind-html="qAndA.answer | safehtml"></span>
      </div>

      <div ng-show="showAnswer">
        <button type="button" ng-click="right()">Correct</button>
        <button type="button" ng-click="right()">Close enough</button>
        <button type="button" ng-click="wrong()">Wrong</button>
      </div>
    </div>
    <div class="quiz-form-bottom">
      <div class="quiz-score">
        Score: <span>{{score}}</span>
      </div>
    </div>
  </div>
</div>
